#### GitHub Actions to check whether package can be built as is

name: R-CMD-check

on:
  schedule:
    - cron: '15 7 * * 1'
  pull_request:
    branches: [main, dev]

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: ubuntu-latest,   r: 'release'}
          - {os: ubuntu-latest,   r: '4.3.0'}
          - {os: windows-latest,   r: 'release'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck, any::covr, any::stringr, any::config, any::here, any::rjson
          needs: check

      - name: Create .Renviron file for Ubuntu
        if: matrix.config.os == 'ubuntu-latest'
        run: |
          touch .Renviron
          echo R_CONFIG_ACTIVE = "github" >> .Renviron

          echo "cat .Renviron"
          cat .Renviron

          echo "ls -a ."
          ls -a .

          echo "ls -a ${{ github.workspace }}"
          ls -a ${{ github.workspace }}
        shell: bash

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
