#### GitHub Action to increment the public-facing version based on semantic versioning v2


name: Trigger for Release
on:
  push:
    branches:
      - main
    paths:
      - semantic_release.txt

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.MEP_Package_Update }}

      - name: Repository Dispatch
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.MEP_Package_Update }}
          repository: dife-bioinformatics/AnalysisMEP
          event-type: semantic_release
