#### GitHub Action to increment the public-facing version based on semantic versioning

name: Update-Description-Version

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  Version-Update:
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::desc
          needs: check

      - name: Get next version
        uses: reecetech/version-increment@2024.10.1
        id: version
        with:
          scheme: semver


      - name: Update Description file
        run: |
          desc::desc_set_version(version = "${{ steps.version.outputs.version }}")
        shell: Rscript {0}

      - name: Verify changes in the Description file
        uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf # v20
        id: verify-changed-files
        with:
          files: DESCRIPTION

      - name: Commit files
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add --all
          git commit -am "chore: Updated package version"
          git push

      - name: Repository Dispatch
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.MEP_Package_Update }}
          repository: dife-bioinformatics/AnalysisMEP
          event-type: release_version_update
