#### GitHub Action to increment the public-facing version based on semantic versioning

name: Update-Description-Version

on:
  pull_request:
    branches: [main]
    types: [closed]

jobs:
  Version-Update:
    if: github.event.pull_request.merged
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.MEP_Package_Update }}

      - uses: r-lib/actions/setup-r@v2
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::desc
          needs: check

      - name: Get next version
        uses: reecetech/version-increment@2024.10.1
        id: version
        with:
          scheme: semver


      - name: Update Description file
        run: |
          desc::desc_set_version(version = "${{ steps.version.outputs.version }}")
        shell: Rscript {0}

      - name: Verify changes in the Description file
        uses: tj-actions/verify-changed-files@a1c6acee9df209257a246f2cc6ae8cb6581c1edf # v20
        id: verify-changed-files
        with:
          files: DESCRIPTION

      - name: Commit files
        if: steps.verify-changed-files.outputs.files_changed == 'true'
        run: |
          git config --local user.email "Florian.Schwarz@dife.de"
          git config --local user.name "FlorianSchw"
          git add --all
          git commit -am "chore: Updated package version"
          git push


      - name: Create a release
        uses: elgohr/Github-Release-Action@v5
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          title: ${{ steps.version.outputs.version }}
          tag: ${{ steps.version.outputs.version }}


      - name: Create PR
        uses: poorva17/create-pr-action@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HEAD_BRANCH: main
          BASE_BRANCH: dev
